/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg-login-image {
    background-image: url('img/banner.png'); /* Substitua pela URL da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 1rem;
    border: 1px solid rgba(24, 5, 108, 0.1); 
    padding: 2%;
    max-width: 100%; /* Garante que o card não ultrapasse a tela */
    margin: 0 auto;
}

.card-title {
    font-size: 2rem;
    font-weight: 600;
}

.form-control {
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #0056b3;
}
/* Para telas menores, ajuste a imagem de fundo */
@media (max-width: 768px) {
    .bg-login-image {
        background-image: url('img/banner.png'); /* Imagem alternativa para telas menores */
    }
}